:root {
  --color-evergreen-50: #f1f5f0;
  --color-evergreen-100: #e4ebe0;
  --color-evergreen-200: #c9d7c1;
  --color-evergreen-300: #aec3a2;
  --color-evergreen-400: #93ae84;
  --color-evergreen-500: #779a65;
  --color-evergreen-600: #607b51;
  --color-evergreen-700: #485d3c;
  --color-evergreen-800: #303e28;
  --color-evergreen-900: #181f14;
  --color-evergreen-950: #11160e;

  --color-iron-grey-50: #f2f2f3;
  --color-iron-grey-100: #e4e6e7;
  --color-iron-grey-200: #c9cccf;
  --color-iron-grey-300: #afb3b6;
  --color-iron-grey-400: #949a9e;
  --color-iron-grey-500: #798086;
  --color-iron-grey-600: #61676b;
  --color-iron-grey-700: #494d50;
  --color-iron-grey-800: #303336;
  --color-iron-grey-900: #181a1b;
  --color-iron-grey-950: #111213;

  --color-parchment-50: #f6f4ee;
  --color-parchment-100: #ede9de;
  --color-parchment-200: #dcd2bc;
  --color-parchment-300: #cabc9b;
  --color-parchment-400: #b9a679;
  --color-parchment-500: #a78f58;
  --color-parchment-600: #867346;
  --color-parchment-700: #645635;
  --color-parchment-800: #433923;
  --color-parchment-900: #211d12;
  --color-parchment-950: #17140c;
  /* effect */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
  --dark-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
* ::after ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Noto Sans HK", "Oswald", sans-serif;
    background-color: var(--color-parchment-900);
    line-height: 1.25;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    display: block;
}